<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AEON-paps</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!--stylesheets end-->
    <!--js and jquery all links-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="/public/js/jquery-3.1.1.js" type="text/JavaScript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>

      * {margin:0px;padding: 0px;}
      .header {width: 100%;height: 900px;background-color: rgba(39, 145, 201, 0.73);}
       @media(max-width:768px) {.header {height: auto;width: 100%;} #let {font-size: 40px;} #proj {font-size: 28px} #share {font-size: 22px;} #img {width:200px !important;padding: 10px;}}
      .header .container {padding-top: 100px;padding-bottom: 100px;font-family: monospace;font-weight: bold;}
      .header h1 {font-size: 60px;}
      .header h3 {font-size: 35px; }
      .header p {font-size: 30px}
      #right {padding: 30px;}
      .upp{font-size: 24px;}
      #starto {margin-top: 155px;}
      #img {width: 300px;padding:20px;}
       #th {font-size: 30px;text-align: center;}
       #thp {font-size: 20px;text-align: center;}
       #thank {font-size: 80px;text-align: center;}
       #check {font-size: 24px;color:#323232;text-align: center;margin-top: 30px;}
       #projects {padding: 80px 0 80px;text-align: center;font-family: monospace;}
       #ico {height: 80px;width: 80px;font-size: 30px;padding:25px 20px;border-radius: 50%;background-color: rgba(39, 145, 201, 0.73);color:white;}
       #services {margin-bottom: 90px;}
       #mcap {margin-top: 20px;font-size: 28px;}
       #social {font-size: 20px;height: 30px;width: 30px;text-align: center;padding: 5px;border: 1px solid #cccccc;margin-bottom: 10px;margin-right: 5px;}
       #footer {background-color: #323232;color:white !important;padding: 20px 0 20px;}
    </style>

  </head>
  <body>
    <!--navigation section begins-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">A.E.O.N</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            {{#if user}}
            <li><a href="/">Home</a></li>
            <li><a href="/users/virtue">Upload</a></li>
            <li><a href="/users/logout">Logout</a></li>
            {{else}}
            <li><a href="/">Home</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!--navigation ends-->
    <div class="header" id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <h1 id="let">Let {DREAMS} Come True</h1>
              <h3 id="proj">Project Cycle - <br>Alpha .Beta. Gamma</h3>
              <p id="share">Share , Learn, Contribute, More.</p>
              <img src="../image/flow.png" alt="work-flow" id="img" />
          </div>
          <div class="col-md-6 col-lg-6" id="right">
            {{#if success_msg}}
              <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
              <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
              <div class="alert alert-danger">{{error}}</div>
            {{/if}}

              {{{body}}}
          </div>
        </div>
      </div>
    </div>
        <!--header ends-->

    <!--projects and other works section-->
    <div class="projects" id="projects">
      <div class="container">
        <h2 id="services"> Services & Focus On </h2>
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <i class="fa fa-code-fork" aria-hidden="true" id="ico"></i>
              <h4 id="mcap">Work Flow</h4>
              <p id="mpp">Make Your Work Easier & Loveable </p>
            </div>
            <div class="col-lg-3 col-md-3">
              <i class="fa fa-file-code-o" aria-hidden="true" id="ico"></i>
              <h4 id="mcap">Learn Coding</h4>
              <p id="mpp">You Love Coding ? <br> You are at right place</p>
            </div>
            <div class="col-lg-3 col-md-3">
              <i class="fa fa-database" aria-hidden="true" id="ico"></i>
              <h4 id="mcap">Big Data</h4>
              <p id="mpp">Learn Data Base & Data Analytics</p>
            </div>
            <div class="col-lg-3 col-md-3">
              <i class="fa fa-binoculars" aria-hidden="true" id="ico"></i>
              <h4 id="mcap">Explore</h4>
              <p id="mpp">The World is Not Enough<br>Learn.Code.Sleep.Repeat</p>
            </div>
          </div>
      </div>
    </div>
    <!--projects section end-->
    <footer class="footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-4" style="font-family:monospace">
            <p id="footp">Feel Free To Contact</p>
            <p id="addr">Email : xxx-xxx</p>
            <p id="addr">Phone : xxx-xxx</p>
            <p id="addr">Web   : xxx-xxx</p>
          </div>
          <div class="col-md-4 col-lg-4">
            <h4 id="soc" style="font-family:monospace;">Get  Social</h4>
            <i class="fa fa-facebook-official " id="social" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square "id="social" aria-hidden="true"></i>
            <i class="fa fa-twitter-square " id="social"aria-hidden="true"></i>
            <i class="fa fa-instagram " id="social" aria-hidden="true"></i>
            <i class="fa fa-pinterest-square " id="social"aria-hidden="true"></i>
            <i class="fa fa-google-plus-square "id="social" aria-hidden="true"></i>
          </div>
          <div class="col-lg-4 col-md-4" style="font-family:monospace;">
            <h5>About</h5>
            <p><i class="fa fa-superpowers" aria-hidden="true"></i> About Us</p>
            <p><i class="fa fa-superpowers" aria-hidden="true"></i> Privacy</p>
            <p><i class="fa fa-superpowers" aria-hidden="true"></i> Terms & Conditions</p>
            </div>

      </div>
    </div>
    </footer>

  </body>
</html>
